.searchable-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .inputWithButton {
    border: 1px solid #ccc;
    display: flex;
    width: 400px;
    flex-wrap: wrap;
  }

  .inputWithButton .close-container {
    position: absolute;
    right: 0;
    top : 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .inputWithButton .added-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .added-item-container {
    display: flex;
    align-items: center;
    margin-right: -25px;
  }

  .btn-added-item {
    padding-right: 30px;
    margin-left: 4px;
    margin-top: 4px;
  }

  .added-btn-cancel {
    position: relative;
    right: 28px;
    background-color: transparent;
    border: none;
  }

  .input-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
  }

  .btn-cancel {
    border: none ;
    background-color: transparent;
    cursor: pointer;
  }

  .searchable-dropdown input {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    border: none !important;
    flex: 1;
  }

  input:focus {outline:none!important;}

  
  .searchable-dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    margin-top: 4px;
  }
  
  .searchable-dropdown li {
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
  }
  
  .searchable-dropdown li:hover {
    background-color: #f5f5f5;
  }

  .option-unavailable {
    font-size: 12px;
  }